@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonteConteudo:Verdana, Geneva, Tahoma, sans-serif;
    --fonteMenu: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;;
    --fonteTitulo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    --corVerdeescuro: #182625;
    --corazulclaro: #3D5A73;
    --corZinza: #455559;
    --corVerde: #28403D;
    --Corbranco: white;
}
body{
    padding: 0px;
    background-color: var(--corVerdeescuro);
}
header{
    padding: 10px;
    margin: 10px;
    background-color: var(--corazulclaro);
    border-radius: 10px;
}

span{
    position: absolute;
    background-color: var(--corZinza);
    border-radius: 10px;
}

nav{
    position: relative;
    transition-duration: 10s;
    padding: 5px;
    margin: auto;
    max-width: 50px;
    right: 43%;
}

nav> ul>{
    border-radius: 10px;
}

.menu > li > a{
    min-width: 50px;
    text-decoration: none;    
    color: var(--Corbranco);
    font-family:var(--fonteMenu);
    font-weight: normal;
    margin: 5px;
}

.menu > li{
    padding: 3px;
    display: none;
    min-height: 30px;
}


nav:hover .menu > li{
    display: block;
    transition-duration: .10s;
}


main{
    margin: auto;
    padding: 15px;
    background-color:var(--corVerde);
    max-width: 80%;
    border-radius: 10px;
}

h1{
    font-family: var(--fonteTitulo);
    color: white;
    font-weight: normal;
    padding: 5px;
    margin-bottom: 7px;
    margin-top: 15px;
}

p{
    font-family: var(--fonteConteudo);
    color: white;
}

section > article {
    margin: 10px;
    padding: 15px;
}

footer{
    padding: 3px;
    margin: 2px;
    background-color: var(--corZinza);
}
footer>p{
    padding: 3px;
    margin: 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: white;
}