@charset "UTF-8";

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(189, 198, 236);
    margin: 20px ;
}

header{
    background-color: rgb(143, 143, 229);  
    padding: 10px;
    margin: 15px;

}

nav{
    background-color: rgb(241, 241, 245);
    padding: 6px;
    margin: 10px;
}

nav >a{
    text-decoration: solid;
    color: black;
    font-weight:bold;
    padding: 50px;


}

nav >a:hover{
    text-decoration: underline;

}

main{
    background-color: rgb(142, 149, 214);
    padding:14px;
    margin:15px;

}

section{

}

footer{
    text-align: center;
}